.material-textfield {
    input {
        padding: 8px 10px;
    }
}

.query-builder {
    width: 720px;
    margin: auto;
    border: 1px solid #EEEEEE;
    border-radius: 6px;
    margin-top: 20px;
    padding: 10px;
    background: aliceblue;
}

.apply-filters {
    float: right;
    margin-right: 70px;
}
