.simple-select {
    margin: 20px;
    width: 165px;
}

.simple-select div[role="button"] {
    padding: 8px 10px;
}

.custom-multi-select {
    width: 250px;
    display: inline-block;
    padding: 12px;
}
